/*this file is used for the nav bar located in the wrapper */
ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: left;
  } /*list*/
  
  li a {
    display: inline;
    color:black;
    text-align: left;
    padding: 1px 7px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f57575d3;
    padding-right: 10px;
  } /*hover function*/
