$brand-color: red;
$hover-color: #f57575d3;
$body-color: rgb(54, 53, 53);
$content-color: white;
$border-color: 1px solid rgb(235, 229, 229);
$jan15th: rgb(196, 195, 195);

$searchicon: url('images/searchicon.png');

$bigimage:url('images/pic1.png'); /*imgs for wrapper1*/

$topleft: url('images/pic2.png');/*imgs for wrapper2*/
$topright: url('images/pic3.png');
$bottomleft: url('images/pic4.png');
$bottomright: url('images/pic5.png');

$righttop_grid_image1:url('images/pic9.1.png'); /*imgs for wrapper6*/
$righttop_grid_image2:url('images/pic9.2.png');
$righttop_grid_image3:url('images/pic9.3.png');

$rightbottom_grid_image1:url('images/pic10.1.png'); /*imgs for wrapper7*/
$rightbottom_grid_image2:url('images/pic10.2.png');
$rightbottom_grid_image3:url('images/pic10.3.png');

$bottom-pic1: url('images/pic6.png'); /*bottom-grid img*/
$bottom-pic2: url('images/pic7.png');
$bottom-pic3: url('images/pic8.png');

$ad1: url('images/picad1.png'); /*ad img*/
$ad2: url('images/picad2.png');

$footer: url('images/footer1.png'); /*footer img*/